
/************************************* GENERAL ***********************************************/

:root {

  box-sizing: border-box;

  /*****   variables    *****/
  
  --check: red solid 1px;

  --font-logo: 'Merriweather', serif;
  --font-title: 'Playfair Display', serif;
  --font-text: 'Lato', sans-serif; 

  --fontXXS: .5rem;
  --fontXS: .75rem;
  --fontM: 1rem; 
  --fontL: 1.25rem;
  --fontLplus: 1.5rem;
  --fontXL: 2rem;
  --fontXXL: 2.5rem;

  --color_primary: #00534f;
  --color_accent_one: #effeb2;
  --color_accent_two: #75dbd3; 
  --gray: rgb(204, 221, 220); 
}

*,
::after,
::before {
  box-sizing: inherit;
} 

body {
  margin: 0;
  font-family: var(--font-text);
  font-weight: 400;
  color: #fff;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--color_primary);
}

/************************************* HEADER ***********************************************/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: var(--check);
}

.header__logo {
  margin: 0;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: var(--font-logo);
  text-transform: lowercase;
  font-size: var(--fontXXL); 
  font-weight: 300;
  color: var(--color_accent_two);
  border: var(--check);
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--check);
}

.header__nav__link {
  margin: 0 2.5em;
  font-size: var(--fontM);
}

.header__signing > a {
  border: var(--check);
  font-size: var(--fontM);
  margin: 0 2.5em;
}

/************************************* MAIN ***********************************************/

.main {
  margin: 0 auto;
  width: 80%;
  /* border: var(--check); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__title__title {
  font-family: var(--font-logo);
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.main__title__subtitle {
  margin-top: 1em;
  margin-bottom: 2.5em;
  font-size: var(--fontL);
  font-weight: 400;
}

.accent-text {
  color: var(--color_accent_one);
}

.main__cta {
  background-color: var(--color_accent_one);
  color: var(--color_primary);
  border: var(--color_primary);
  padding: 1em 2em;
  font-weight: 550;
  font-size: var(--fontM);
  border-radius: .5em;
  text-decoration: none;
}

.main__cta:hover {
  background-color: var(--color_primary);
  color: #fff;
  box-shadow:  0 0 0 1px #fff;
}


/************************************* CAROUSEL ***********************************************/

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border: var(--check); */
  margin: 1.5em auto;
}

.card__img {
  width: 65%;
  margin: 0 auto;
  /* border: var(--check); */
}

.card__title {
  /* border: var(--check); */
  text-align: start;
}

.card {
  border-radius: .85em; 
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.card__link {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}



.card:nth-child(2n) {
  background-color: rgb(39, 132, 123);   
  margin-right: 0;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
  filter: blur(.065em);
}

.card:nth-child(2n) > a > p {
  display: none;   
}

.card:nth-child(2n) > a > img {
  width: 70%;
  opacity: .69;
  padding: 3.5em 0;
}

.card:nth-child(2n+1) {
  background-color: rgb(39, 132, 123);   
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* filter: blur(.2em); */
}

.card:nth-child(2n+1) > a > p {
  display: none;   
}

.card:nth-child(2n+1) > a > img {
  display: block;
  width: 45%;
  opacity: .69;
  padding: 3.5em .5em;
  border: var(--check);
}

.card:nth-child(3) {
  margin: 0 .6em;
  background-color: var(--gray); 
  color: var(--color_primary);
  font-size: 1.5rem;
  padding: .5em .75em;
  font-family: var(--font-title);   
}

.card:nth-child(3) {   
  filter: none;
}

.card:nth-child(3) > a > p {
  display: block;   
}

.card:nth-child(3) > a > img {
  opacity: 1;
  width: 65%;
  padding: 0;
}
