/************************************* GENERAL ***********************************************/

:root {

  box-sizing: border-box;

  /*****   variables    *****/
  
  --check: red solid 1px;

  --font-logo: 'Merriweather', serif;
  --font-title: 'Playfair Display', serif;
  --font-text: 'Lato', sans-serif; 

  --fontXXS: .75rem;
  --fontXS: 1rem;
  --fontS: 1.25rem;
  --fontM: 1.5rem; 
  --fontL: 1.75rem;
  --fontXL: 2rem;
  --fontXXL: 2.5rem;

  --color_primary: #00534f;
  --color_accent_one: #effeb2;
  --color_accent_two: #75dbd3; 
  --gray: rgb(204, 221, 220); 
}

*,
::after,
::before {
  box-sizing: inherit;
} 

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-text);
  font-weight: 400;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: var(--color_primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.accent {
  color: var(--color_accent_one);
}

/************************************* MAIN ***********************************************/

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  align-self: center;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}


.main {
  /* border: var(--check); */
  margin: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* .main > * {
  border: var(--check);
} */

/***** main__info */

.main__info {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 3em;
}

.main__info > h2, h3 {
  margin: 0;
}

.main__info__title {
  font-size: calc(var(--fontXXL) * 2);
  font-family: var(--font-logo);
  font-weight: 400;
  text-align: center;
  margin: 0;
  /* border: var(--check); */
}

.main__info__subtitle {
  font-size: var(--fontS);
  font-weight: 400;
  font-family: var(--font-text);
  text-align: center;
  /* border: var(--check); */
  margin-top: 1em;
}

.main__cta {
  background-color: var(--color_accent_one);
  color: var(--color_primary);
  padding: 1em 2em;
  font-weight: 550;
  font-size: var(--fontX);
  border-radius: .5em;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 2em;
  border: 1px solid var(--color_accent_one);
}

.main__cta:hover {
  background-color: var(--color_primary);
  color: #fff;
  border: #fff solid 1px;
}

.main__carousel {
  border-radius: 1em;
}

.swiper {
  width: 12em;
  height: 14em;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  font-size:var(--fontS);
  font-weight: bold;
  color: #fff;
}

.swiper-slide-active {
  background-color: var(--gray) !important;
}

.carousel__title {
  font-family: var(--font-text);
  text-align: center;
  font-size: var(--fontM);
  font-weight: 400;
}

.carousel__card {
  border: 1px solid var(--color_primary);
  background-color: #A9C6C4; /* #A9C6C4 */
  padding-bottom: 1em;
}

.card__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__title {
  color: var(--color_primary);
  font-family: var(--font-title);
  font-weight: 400;
  text-align: center;
  padding: 1em;
  font-size: var(--fontS);
  margin: 0;
  margin-top: 1em;
}

.card__img {
  width: 75%;
  /* border: var(--check); */
  margin-bottom: 1em;
}

/************************************* MEDIA ***********************************************/



@media (max-width: 1200px) {
	:root {
        font-size: .9rem;
    }
}

@media (max-width: 1060px) {
	:root {
        font-size: .8rem;
    }
}

@media (max-width: 992px) {	
	:root {
        font-size: .75rem;
    }
}

@media (max-width: 900px) {	
	:root {
        font-size: .7rem;
    }
}

@media (max-width: 768px) {
	:root {
        font-size: .6rem;
    }
}

@media (max-width: 580px) {
	:root {
        font-size: .6rem;
    }

  .body {
    height: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .hamburger-button {
    display: flex;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__nav {
    z-index: 100;
    color: var(--color_accent_two);
  }

  .header__signing {
    z-index: 100;
    color: var(--color_accent_two);
  }

  .header__nav__items,
  .header__signing__items {
    display: flex;
    flex-direction: column;
  }

  

  .header {
    position: relative;
  }

  .button {
    z-index: 100;
  }

  .mobile-bg {
    background-color: var(--color_primary);
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    z-index: 50;
  }

}

































:root {
  --shadow-color: 178deg 100% 7%;
  --shadow-elevation-low:
    -0.1px 0.2px 0.2px hsl(var(--shadow-color) / 0.53),
    -0.1px 0.2px 0.2px -2px hsl(var(--shadow-color) / 0.4),
    -0.3px 0.6px 0.6px -4.1px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-medium:
    -0.1px 0.2px 0.2px hsl(var(--shadow-color) / 0.56),
    -0.2px 0.4px 0.4px -1.4px hsl(var(--shadow-color) / 0.45),
    -0.6px 1.1px 1.1px -2.7px hsl(var(--shadow-color) / 0.34),
    -1.7px 3.1px 3.1px -4.1px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high:
    -0.1px 0.2px 0.2px hsl(var(--shadow-color) / 0.52),
    -0.2px 0.5px 0.5px -0.6px hsl(var(--shadow-color) / 0.47),
    -0.5px 0.9px 0.9px -1.2px hsl(var(--shadow-color) / 0.42),
    -1px 1.8px 1.8px -1.8px hsl(var(--shadow-color) / 0.37),
    -1.9px 3.5px 3.5px -2.3px hsl(var(--shadow-color) / 0.32),
    -3.3px 6px 6.1px -2.9px hsl(var(--shadow-color) / 0.27),
    -5.4px 9.9px 10px -3.5px hsl(var(--shadow-color) / 0.22),
    -8.3px 15.2px 15.3px -4.1px hsl(var(--shadow-color) / 0.17);
}
